@{
  Layout = "_Layout";
}

<h1>Add new order to @Model.Name</h1>
<form action="/vendors/@Model.Id/orders" method="post">
  <label for="orderTitle">Order title:</label>
  <input id="orderTitle" name="orderTitle" type="text">
  <br>
  <label for="orderDescription">Order description:</label>
  <input id="orderDescription" name="orderDescription" type="text">
  <br>
  <label for="orderPrice">Order price:</label>
  <input id="orderPrice" name="orderPrice" type="text">
  <br>
  <label for="orderDate">Order date:</label>
  <input id="orderDate" name="orderDate" placeholder="00/00/0000" type="text">
  <br>
  <button type="submit" class="btn btn-success">Add Order</button>
</form>

<h5 id="toplink"><a href='/vendors/@Model.Id'>Return to orders</a></h5>
<h5><a href='/vendors'>Return to vendors</a></h5>
<h5><a href='/'>Return home</a></h5>