.jumbotron {
  text-align: center;
  background-color: rgb(104, 184, 139);
}

#jumbotron {
  font-size: 300%;
}

body{
  text-align: center;
}

ul{
  list-style-position: inside;
  display:inline-block;
  text-align: left;
}

#link {
  color:darkorange;
}

#toplink {
  margin-top: 3%;
}